body {
    font-family: 'Work Sans', sans-serif;
}

header {
    width: 1600px;
    height: 808px;
    display: flex;
    flex-direction: column;
    background: url('assets/batti.jpeg'), lightgray -0.889px 0px / 100.111% 111.51% no-repeat;
    background-position: left bottom;
    padding-top: 216px;
    padding-right: 230px;
}

.h-container {
    text-align: right;
}

.h-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    padding-left: 845px;
}

.h-des {
    padding-left: 876px;
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.h-button {
    height: 64px;
    width: 160px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    border: none;
}

main {
    width: 1600px;
    height: 3229px;
}

main>section{
    margin: 500px 230px;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);
    background-position: left center;
    width: 640px;
    height: 640px;
    display: flex;
    justify-content: space-between;
}

.intro-img {
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 50px;
    /* padding-bottom: 500px;
    margin-bottom: 500px; */
    position: relative;
    left: 20px;
    bottom: 320px;
    /* right: 800px; */
    border-radius: 580px;
}

.content {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}

.c-title {
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    width: 288px;
    /* padding-left: 200px; */
    text-align: left;
}

.c-des {
    width: 416px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* padding-left: 200px; */
    text-align: left;
}

.c-img {
    width: 15px;
    height: 15px;
    /* padding-top: 35px; */
    padding-right: 5px;
}

.c-p-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: space-around; */
}

.c-point {
    padding-bottom: 5px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 230px;

}

div.box img {
    width: 93px;
    height: 93px;
}

.plan-des {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.plan>h2 {
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}

.box {
    width: 200px;
}

footer {
    width: 1600px;
    height: 577px;
    background-color: #151414;
    margin: 0px;
}